* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    z-index: 10000;
}

.nav-bar {
    background: transparent;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    box-shadow: 0 4px 8px rgba(35, 30, 30, 0.1);
    z-index: 10000;
    font-size: large;
}

.logo img {
    padding: 5px;
    height: 47px;

}

.links {
    padding-top: 10px;
    display: flex;
}

.links li {
    display: inline-flex;
    margin-right: 2vh;
    padding: 3px;

}

.links a {
    font-size: var(--font-size-xl);
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


.navbar-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}


.modal-theme {
    height: 300px;
    background-color: #272822;
    background-image: linear-gradient(170deg, #272822 10%, #e63434b1 74%);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.modal-pixo {
    height: 300px;
    background-color: #272822;
    background-image: linear-gradient(170deg, #272822 10%, #e63434b1 74%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.button-theme {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: var(--font-novecento-normal);
    background: transparent;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    border: none;

}

.button-pixo {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: var(--font-novecento-normal);
    background: transparent;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    border: none;

}

.modal-theme>.header-theme {
    font-family: var(--font-cc-ultimatum);
    color: aliceblue;
    width: 100%;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.modal-pixo>.header-pixo {
    font-family: var(--font-cc-ultimatum);
    color: aliceblue;
    width: 100%;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: -55px;
}

.header-pixo>.pixo-img {
    height: 200px;
    width: 165px;
    background: black no-repeat center /contain;
    overflow: hidden;
    animation: pixo-changeImage 10s infinite;
    margin-bottom: 20px;
}

@keyframes pixo-changeImage {
    0% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1715433374/367996939_207937178924399_2885094949970343017_n_t17pk5.jpg);
    }

    25% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1715433374/337750926_795280374776471_7380077801040000389_n_d5d9oq.jpg);
    }

    50% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1715433374/376011026_855964046045917_3747617966464338871_n_aiz3pk.jpg);
    }

    75% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1715433374/353824943_275813008251518_4736197242434317902_n_ygyvoy.jpg);
    }

    100% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1715433373/326444542_860609318556444_3290435243880202536_n_qmchu6.jpg);
    }
}

.modal-theme>.content-theme {
    font-family: var(--font-novecento-normal);
    width: 100%;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.5px;
    padding-right: 5px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.modal-pixo>.content-pixo {
    font-family: var(--font-novecento-normal);
    width: 100%;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 15px;
    padding-top: 5px;
}

.modal-theme>.close {
    color: white;
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: black;
    border: 1px solid #cfcece;
}

.modal-pixo>.close {
    color: white;
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: black;
    border: 1px solid #cfcece;
}

.landing-page {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url(bgimg.jpg) no-repeat center center/cover fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-novecento-normal);
    flex-direction: column;


}

.landing-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.landing-text #pixonoids-text {
    font-size: 110px;
    font-family: var(--font-cc-ultimatum);
    text-transform: uppercase;
    font-weight: bolder;

}

#farewell-text {
    font-size: 64px;
    font-family: var(--font-cc-ultimatum);
    text-transform: uppercase;
    font-weight: bolder
}

.image-section {
    padding: 15px;
    display: flex;
    justify-content: center;
    background: black no-repeat center /contain;
    overflow: hidden;
    height: 65.75vh;
    animation: changeImage 10s infinite;
}

@keyframes changeImage {
    0% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713299178/heshan-perera-aIJa8dPdzRI-unsplash_qqqmxl.jpg);
    }

    25% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713299179/andrew-ly-KZ0SZ2fEd20-unsplash_cdk3zu.jpg);
    }

    50% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713299179/lena-denk-vO_RghTzvxE-unsplash_dqxfzc.jpg);
    }

    75% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713449371/joshua-woroniecki-eUjT8kweNlg-unsplash_fdt7sc.jpg);
    }

    100% {
        background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713299178/heshan-perera-aIJa8dPdzRI-unsplash_qqqmxl.jpg);
    }
}

.gap-btw-vid-img {
    height: 150px;
    background-color: black;
}

.video-section {
    padding-top: 51px;
    display: flex;
    justify-content: center;
    background: black no-repeat center / contain;
    overflow: hidden;
    height: 74.75vh;
}

.cardsBg {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.chrImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 700px;
    width: 350px;
    background: black url(https://res.cloudinary.com/duysea99p/image/upload/v1712826774/yajat_sir_-removebg-preview_yz826r.png) no-repeat center center/contain;
    /* box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px; */
    border-radius: 20px;
    margin-right: 75px;
    margin-bottom: 100px;
}

.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 50px;
    transform-style: preserve-3d;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.599), rgb(0, 0, 0)), url(./temple-image@2x.png) no-repeat left center/cover fixed;
    color: white;
    box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
    background-position: center center;
    min-height: 400px;
    width: 350px;
    border-radius: 10px;
    transform-style: preserve-3d;
    background-position: center center;
    transition: all 0.5s ease-in-out;
    margin-left: 150px;
}

.Cards img {
    height: 0px;
}

.content-box {
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 15px;
    transform-style: preserve-3d;
}

.Cards .content-box .card-title {
    font-family: var(--font-novecento-normal);
    font-size: var(--font-size-name);
}


.dept {
    display: block;
    font-weight: 500;
    font-family: var(--font-novecento-normal);
    font-size: small;
    margin-top: 15px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
    width: fit-content;
    transition: all 0.5s ease-in-out;
    background-color: black;
}

.Cards .content-box .card-content {
    padding-top: 15px;
    font-size: var(--font-size-kuchBaat);
    font-family: var(--font-novecento-normal);
    transition: all 0.5s ease-in-out;
}

.contacts {
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
    width: fit-content;
    transition: all 0.5s ease-in-out;
    z-index: 10000000;
}

.flex {
    padding-top: 15px;
    display: flex;
}

.github {
    margin-left: 20px;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 30px;
    font-family: var(--font-novecento-normal);
}

.gap {
    width: 100%;
    height: 50px;
    background-color: black;
}

.msgparent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 30px;

}

.msg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 220px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.305), rgb(0, 0, 0)), url(./msgBG.png) no-repeat center center/cover fixed;
    background-size: 160vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
}

.msgTXT p {
    padding-top: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: var(--font-novecento-normal);
}

.nameANIMATION {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: var(--font-novecento-normal);
    font-size: 28px;
    font-weight: bold;
}

.weWILL {
    position: static;

}

.nameTYPE {
    margin-bottom: 2px;
    margin-left: 25px;
    color: black;
}

.footer {
    width: 100%;
    height: auto;
    background: black;
}

.footer .logo-name {
    display: flex;
    justify-content: center;

}

.footer .logo-footer {
    height: 50px;
    width: 56.43;
    margin-top: 10px;
    animation: rotate 15s linear infinite;
}

.fixed-logo {
    height: 47px;
    width: 47px;
    padding: 19px;
    background: url(https://res.cloudinary.com/duysea99p/image/upload/v1712850689/Pixonoids_-_Material_UI_-_Copy_lqfq2s.png) no-repeat center center / cover;
    position: fixed;
    margin: 7px;
    margin-left: 30px;
    bottom: 10px;
    z-index: 100;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.footer .club-name {
    padding-left: 12px;
    padding-top: 23px;
    font-family: var(--font-novecento-normal);
    color: white;
    height: 35px;
    width: 56.43;
    font-size: 22px;

}

.footer .links {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.footer .links .linkedIN {
    padding-left: 20px;
}


@media screen and (max-width: 768px) {
    .logo img {
        height: 35px;
        width: 56.43;
    }

    /* nav bar toggle */
    .nav-bar .links {
        display: none;
        width: 100%;
        text-align: center;
        position: fixed;
        top: 60px;
    }

    .links.show {
        z-index: 10000;
        display: block;
        margin-right: 13.5%;
        padding: 2.5%;
        width: 74%;
        background: linear-gradient(to top, rgba(199, 185, 185, 0.394), rgba(175, 173, 173, 0.48));
        color: black;
        box-shadow: rgb(117, 138, 167) 25px 25px 50px -30px;
        border-radius: 12px;
        backdrop-filter: blur(2.5px);

    }

    .links li {
        display: block;
        margin: 0;
        padding: 10px;
    }

    .navbar-toggle {
        margin: 7px;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-position: center;

    }

    .links a {
        font-size: var(--font-size-xl);
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }

    .tog .cross {
        width: 100%;
        height: 100%;
    }

    .tog {
        display: block;
    }

    .tog.show {
        display: none;
    }

    .cross {
        display: none;
    }

    .cross.show {
        display: block;
    }

    .wrapper {
        margin-top: 5.6%;
        bottom: 0;
        width: 50%;
        color: white;
        font-size: var(--font-size-xs);
    }

    .landing-text #pixonoids-text {
        font-size: 60px;
        font-weight: bolder;
    }

    .landing-text #farewell-text {
        font-size: 34.9px;
        font-weight: bolder;
    }

    .cardparent {
        flex-direction: column;
    }

    .info-card {
        padding: 5px;
        width: 100%;
        height: 50%;
    }

    .cardsBg {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /*  background:#969595;*/
        background-color: black;
    }

    .Cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 100px;
        transform-style: preserve-3d;
        /*   background: rgba(52, 52, 52, 0.792);*/
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.599), rgb(0, 0, 0)), url(./temple-image@2x.png) no-repeat left center/cover fixed;
        color: white;
        box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
        background-position: center center;
        min-height: 400px;
        width: 300px;
        border-radius: 10px;
        transform-style: preserve-3d;
        background-position: center center;
        transition: all 0.5s ease-in-out;
        margin: 0 auto;
        margin-top: 64px;
    }

    .Cards img {
        position: absolute;
        top: -152px;
        left: 207px;
        height: 400px;
        width: 100px;
        border-radius: 37px;
        padding: 0px;
        z-index: 0;
    }


    .content-box {
        height: 100%;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        transition: all 0.5s ease-in-out;
        padding: 60px 25px 25px 15px;
        transform-style: preserve-3d;
    }

    .Cards .content-box .card-title {
        font-family: var(--font-novecento-normal);
        font-size: var(--font-size-name);
    }


    .dept {
        display: block;
        font-weight: 500;
        font-family: var(--font-novecento-normal);
        font-size: small;
        margin-top: 15px;
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
        width: fit-content;
        transition: all 0.5s ease-in-out;
        background-color: black;
    }

    .Cards .content-box .card-content {
        padding-top: 15px;
        font-size: var(--font-size-kuchBaat);
        font-family: var(--font-novecento-normal);
        transition: all 0.5s ease-in-out;
    }

    .image-section {
        padding: 15px;
        display: flex;
        justify-content: center;
        background: black no-repeat center /contain;
        overflow: hidden;
        height: 26vh;
        animation: changeImage 10s infinite;
    }

    @keyframes changeImage {
        0% {
            background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713299178/heshan-perera-aIJa8dPdzRI-unsplash_qqqmxl.jpg);
        }

        25% {
            background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713299179/andrew-ly-KZ0SZ2fEd20-unsplash_cdk3zu.jpg);
        }

        50% {
            background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713299179/lena-denk-vO_RghTzvxE-unsplash_dqxfzc.jpg);
        }

        75% {
            background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713449371/joshua-woroniecki-eUjT8kweNlg-unsplash_fdt7sc.jpg);
        }

        100% {
            background-image: url(https://res.cloudinary.com/duysea99p/image/upload/v1713449371/mike-benna-y5q_e7b7LJ0-unsplash_yttfmw.jpg);
        }
    }


    .video-section {
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 30vh;
        background: linear-gradient(to bottom, black, rgb(0, 0, 0));
    }

    .msgparent {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 100vh;
        color: white;
        font-size: 30px;
    }

    .msg {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        margin-top: -70px;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.305), rgb(0, 0, 0)), url(./msgBG.png) no-repeat center center/cover fixed;
        background-size: 120vh;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    .msgTXT p {
        padding-top: 180px;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 15px;
        font-family: var(--font-novecento-normal);
    }

    .nameANIMATION {
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-family: var(--font-novecento-normal);
        font-weight: bold;
        font-size: 15px;
    }

    .weWILL {
        position: static;

    }

    .nameTYPE {
        margin-bottom: 2px;
        margin-left: 25px;
        color: black;
    }

    .footer .logo-footer {
        height: 40px;
        margin-top: 10px;
    }

    .footer .club-name {
        padding-left: 12px;
        padding-top: 19px;
        font-family: var(--font-novecento-normal);
        color: white;
        height: 35px;
        width: 56.43;
        font-size: 19px;

    }

    .footer .links {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .fixed-logo {
        height: 30px;
        width: 30px;
        padding: 19px;
        background: url(https://res.cloudinary.com/duysea99p/image/upload/v1712850689/Pixonoids_-_Material_UI_-_Copy_lqfq2s.png) no-repeat center center / cover;
        position: fixed;
        margin: 7px;
        /* right: -2px; */
        bottom: 10px;
        z-index: 100;
        animation: rotate 20s linear infinite;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }


    .modal-theme {
        height: 290px;
        background-color: #272822;
        background-image: linear-gradient(170deg, #272822 10%, #e63434b1 74%);
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .modal-pixo {
        height: 290px;
        background-color: #272822;
        background-image: linear-gradient(170deg, #272822 10%, #e63434b1 74%);
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .button-theme {
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-family: var(--font-novecento-normal);
        background: transparent;
        font-size: large;
        font-weight: bolder;
        text-align: center;
        border: none;

    }

    .modal-theme>.header-theme {
        color: aliceblue;
        font-family: var(--font-cc-ultimatum);
        width: 100%;
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid black;
    }

    .modal-pixo>.header-pixotab {
        color: aliceblue;
        font-family: var(--font-cc-ultimatum);
        width: 100%;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .modal-theme>.content-theme {
        font-family: var(--font-novecento-normal);
        width: 100%;
        font-size: 9px;
        font-weight: 300;
        letter-spacing: 0.5px;
        padding-right: 2.5px;
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }

    .modal-pixo>.content-pixotab {
        font-family: var(--font-novecento-normal);
        width: 100%;
        font-size: 9px;
        font-weight: 300;
        letter-spacing: 0.5px;
        padding-top: 10px;
        padding-right: 2.5px;
        margin-bottom: 45px;
        display: flex;
        justify-content: center;
    }

    .modal-theme>.close {
        color: white;
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: black;
        border: 1px solid #cfcece;
    }

    .modal-pixo>.close {
        color: white;
        cursor: pointer;
        position: absolute;
        display: block;
        padding: 2px 5px;
        line-height: 20px;
        right: -10px;
        top: -10px;
        font-size: 24px;
        background: black;
        border: 1px solid #cfcece;
    }
}